<nav>
    <div class="main-div">
        <div class="sub-main-div">
            <div class="content-div">
                 <div class="content-div-1">
                        <ul>
                            <li>
                                <a href="">Terms of Use </a>
                            </li>
                            <i>
                                -
                            </i>
                            <li>
                                <a href="">Privacy</a>
                            </li>
                            <i>
                                -
                            </i>
                            <li>
                                <a href="">Cookies</a>
                            </li>
                        </ul>
                 </div>

                 <div class="text-field-div">
                    <p>
                        Copyright © 2024 Mitsogo Inc. All Rights Reserved.
                    </p>
                 </div>
            </div>
        </div>
    </div>
</nav>