.section-f{
    padding-top: 100px;
    padding-bottom:100px;

}
.main-div h1 {
    margin-bottom: 20px;
    font-size: 40px;   
    text-align: center;


}
.main-div{
    max-width: 1400px;
    margin: auto;
}
.img-main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img-div-1{
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.img-div-2{
    margin: 0 10px; 
    max-width: 200px;
    height: 70px;
}

.img-div-2 :hover{
    transform: translateY(-10px);
    transition: transform .3s ease-out;
}
.img-div-2 img{
    width: 100%;
    height: 100%;
}