<section class="section-f">
    <div class="main-div">
        <h1>
            Platforms supported
        </h1>
          <div class="img-main-div">

                <div class="img-div-1">
                    <div class="img-div-2">
                        <img src="assets/images/section-f-imgs/android-img.svg">
                    </div>
                </div>
                <div class="img-div-1">
                    <div class="img-div-2">
                        <img src="assets/images/section-f-imgs/windows-img.svg">
                    </div>
                </div>

                <div class="img-div-1">
                    
                    <div class="img-div-2">
                        <img src="assets/images/section-f-imgs/ios-img.svg">
                    </div>
                </div>

                <div class="img-div-1">
                    
                    <div class="img-div-2">
                        <img src="assets/images/section-f-imgs/android-tv-img.svg">
                    </div>
                </div>

                <div class="img-div-1">
                    
                    <div class="img-div-2">
                        <img src="assets/images/section-f-imgs/apple-tv-img.svg">
                    </div>
                </div>

                <div class="img-div-1"> 
                    <div class="img-div-2">
                            <img src="assets/images/section-f-imgs/amazon-fire-img.webp">
                    </div>
                </div>
        </div>
    </div>
</section>