<section class="section-d">
    <div class="main-div">
        <h2>
            Why should you choose Hexnode?
        </h2> 
         <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="img-text-contanier">
                    <div class="img">
                        <img src="assets/images/justin-modrak-pic.webp">
                    </div>
                    <div class="text-contanier">
                        <div class="heading-div">
                            <h3>
                                "Hexnode is of great value. Works great with Android and iOS!"
                            </h3>
                            <hr style="border: 1px solid  #f0f0ef;">
                        </div>
                        <div class="text-content">
                            <p class="p1">
                                Technology Coordinator
                            </p>
                            <p class="p2">
                                Technology Coordinator
                            </p>
                            <p class="p3">
                                East Troy Community School District
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>  
                 <div class="img-text-contanier">
                <div class="img">
                    <img src="assets/images/dalibor-kruljac-pic.webp">
                </div>
                <div class="text-contanier">
                    <div class="heading-div">
                        <h3>
                            "Most complete MDM solution I found, and I tested many of them, including major names"
                        </h3>
                        <hr style="border: 1px solid  #f0f0ef;">
                    </div>
                    <div class="text-content">
                        <p class="p1">
                            Dalibor Kruljac
                        </p>
                        <p class="p2">
                            KAMELEYA LTD
                        </p>
                    </div>
                </div>
            </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="img-text-contanier">
                    <div class="img">
                        <img src="assets/images/chris-robinson-pic.webp">
                    </div>
                    <div class="text-contanier">
                        <div class="heading-div">
                            <h3>
                                "It seemed to be in-line with everything we were looking at."
                            </h3>
                            <hr style="border: 1px solid  #f0f0ef;">
                        </div>
                        <div class="text-content">
                            <p class="p1">
                                Chris Robinson
                            </p>
                            <p class="p2">
                                Executive Account Manager, NCS
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
        </div>
</section>