<section class="section-b">
    <div class="main-div">
        <h1>
            Specific kiosk modes for unique use cases
        </h1>
        <div class="content-main-div">
            <div>
                <div class="acc-container">
                    <ul class="accordion-div">
                        <li class="list">
                            <div class="acc-header active">
                                <label for="firstAcc">Single App Kiosk</label>
                                <input type="radio" id="firstAcc">
                                <span>
                                    >
                                </span>
                            </div>
                            <div class="acc-text-img">
                                <div class="acc-img">
                                    <img src="assets/images/single-app-kios-image.webp">
                                </div>
                                <div class="acc-text">
                                    <h2>
                                        Powerful Single-App Kiosk solutions for enhanced control
                                    </h2>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Provision the devices to run one specialized application, with limited
                                                functionalities.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Customize the device settings to cater to a specific use-case each time.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Use Hexnode’s Advanced Kiosk settings for additional restrictions or
                                                expanded device functionalities while in kiosk mode.
                                            </p>

                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                Empower your administrators with full control over the kiosk devices.
                                            </p>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="acc-header">
                                <label for="secondAcc">Multi-App Kiosk</label>
                                <input type="radio" id="secondAcc">
                                <span>
                                    >
                                </span>
                            </div>
                            <div class="acc-text-img">
                                <div class="acc-img">
                                    <img src="assets/images/multi-app-kiosk-image.webp">
                                </div>
                                <div class="acc-text">
                                    <h2>
                                        Elevate efficiency with Multi-App Kiosk
                                    </h2>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Limit device access to approved apps, ensuring focus and productivity.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                With default phone and settings app inclusion, reduce distractions
                                                by providing users access to essential functions only.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                With Hexnode's peripheral settings admins can allow necessary device
                                                settings while retaining control.

                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                Simplify device management while empowering user productivity by
                                                deploying Multi-App Kiosk Mode.
                                            </p>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="acc-header">
                                <label for="secondAcc">Web-based Kiosk</label>
                                <input type="radio" id="secondAcc">
                                <span>
                                    >
                                </span>
                            </div>
                            <div class="acc-text-img">
                                <div class="acc-img">
                                    <img src="assets/images/web-based-kiosk-image.webp">
                                </div>
                                <div class="acc-text">
                                    <h2>
                                        Explore the new way to manage web apps and websites
                                    </h2>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                            Let users access essential and approved web apps, website and files only.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Make the best use of website kiosk with Hexnode's advanced settings.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Tailor your experience to match your unique use case.
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                From configuring toolbar options to scheduling page refresh, remote debugging, and limiting incognito tabs, 
                                                take full control of your website kiosk experience.
                                            </p>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="acc-header">
                                <label for="thirdAcc">Digital Signages</label>
                                <input type="radio" id="thirdAcc">
                                <span>
                                    >
                                </span>
                            </div>
                            <div class="acc-text-img">
                                <div class="acc-img">
                                    <img src="assets/images/digital-signage-kiosk-image.webp">
                                </div>
                                <div class="acc-text">
                                    <h2>
                                        Capture attention with Digital Signage Kiosks
                                    </h2>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Transform your devices into captivating digital signage kiosks that grab
                                                attention.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Engage your audience with vibrant images and seamless video streaming.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Customize media files with trimming, muting, and background music.
                                            </p>

                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                Advertise and show off your brand aesthetics to attract customers in
                                                different ways.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                Take control with Hexnode to reestablish your brand's presence.
                                            </p>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="acc-header">
                                <label for="fourthAcc">ASAM Kiosk</label>
                                <input type="radio" id="fourthAcc">
                                <span>
                                    >
                                </span>
                            </div>
                            <div class="acc-text-img">
                                <div class="acc-img">
                                    <img src="assets/images/asam-kiosk-image.webp">
                                </div>
                                <div class="acc-text">
                                    <h2>
                                        Unlock the power of Autonomous Single App Mode (ASAM)
                                    </h2>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                A feature that empowers your iOS app to seamlessly secure itself in the
                                                foreground.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Transform tablets or devices into dedicated point-of-sale (POS) systems
                                                by preventing interruptions from other applications or notifications.
                                            </p>
                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Create focused, efficient and secure digital environments to match your
                                                requirements.
                                            </p>

                                        </li>
                                        <li>
                                            <span>&#10003;</span>
                                            <p style="padding-bottom: 15px;">
                                                Configure ASAM effortlessly and elevate your user experience like never
                                                before.
                                            </p>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="main-content-list-div">

                    <div class="content-list">
                        <ul>
                            <li (click)="menuName='animationContent1'"class="header-text-div animation-active">
                                    <p>
                                        <span>
                                            Single App Kiosk
                                        </span>
                                    </p>
                           </li>
                            <li (click)="menuName='animationContent2'" class="header-text-div">
                                    <p>
                                        <span>
                                            Multi-App Kiosk
                                        </span>
                                    </p>
                            </li>
                            <li (click)="menuName='animationContent3'"class="header-text-div">
                                <p>
                                    <span>
                                        Web-based Kiosk
                                    </span>
                                </p>
                            </li>
                            <li (click)="menuName='animationContent4'" class="header-text-div">
                                <p>
                                    <span>

                                        Digital Signages
                                    </span>
                                </p>
                            </li>
                            <li (click)="menuName='animationContent5'" class="header-text-div">
                                <p>
                                    <span>
                                        ASAM Kiosk
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                        <div *ngIf="menuName=='animationContent1'"class="animation-div-content">
                            <div class="sub-animation-content-div">
                                <div class="animation-div-content-text">
                                    <h3>
                                        Powerful Single-App Kiosk solutions for enhanced control
                                    </h3>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Provision the devices to run one specialized application, with limited functionalities.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Customize the device settings to cater to a specific use-case each time.


                                            </p> 
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Use Hexnode’s Advanced Kiosk settings for additional restrictions or expanded device functionalities while in kiosk mode.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Empower your administrators with full control over the kiosk devices.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="animation-div-img">
                                        <img src="assets/images/single-app-kios-image.webp">
                                </div>
                            </div>
                        </div>

                        <div *ngIf="menuName=='animationContent2'"class="animation-div-content">
                            <div class="sub-animation-content-div">
                                <div class="animation-div-content-text">
                                    <h3>
                                        Elevate efficiency with Multi-App Kiosk
                                    </h3>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Limit device access to approved apps, ensuring focus and productivity.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                With default phone and settings app inclusion, reduce distractions
                                                by providing users access to essential functions only.
                                            </p> 
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                With Hexnode's peripheral settings admins can allow necessary device settings while retaining control.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Simplify device management while empowering user productivity by deploying Multi-App Kiosk Mode.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="animation-div-img">
                                        <img src="assets/images/multi-app-kiosk-image.webp">
                                </div>
                            </div>
                        </div>

                        <div *ngIf="menuName=='animationContent3'" class="animation-div-content">
                            <div class="sub-animation-content-div">
                                <div class="animation-div-content-text">
                                    <h3>
                                        Explore the new way to manage web apps and websites
                                    </h3>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Let users access essential and approved web apps, website and files only.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Make the best use of website kiosk with Hexnode's advanced settings.
                                            </p> 
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Tailor your experience to match your unique use case.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                From configuring toolbar options to scheduling page refresh, 
                                                remote debugging, and limiting incognito tabs, take full control of your website kiosk experience.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="animation-div-img">
                                        <img src="assets/images/web-based-kiosk-image.webp">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="menuName=='animationContent4'" class="animation-div-content">
                            <div class="sub-animation-content-div">
                                <div class="animation-div-content-text">
                                    <h3>
                                        Capture attention with Digital Signage Kiosks
                                    </h3>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                           Transform your devices into captivating digital signage kiosks that grab attention.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Engage your audience with vibrant images and seamless video streaming.
                                            </p> 
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Customize media files with trimming, muting, and background music.


                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Advertise and show off your brand aesthetics to attract customers in different ways.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Take control with Hexnode to reestablish your brand's presence.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="animation-div-img">
                                        <img src="assets/images/digital-signage-kiosk-image.webp">
                                </div>
                            </div>
                        </div>

                        <div *ngIf="menuName=='animationContent5'" class="animation-div-content">
                            <div class="sub-animation-content-div">
                                <div class="animation-div-content-text">
                                    <h3>
                                        Unlock the power of Autonomous Single App Mode (ASAM)
                                    </h3>
                                    <ul>
                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                A feature that empowers your iOS app to seamlessly secure itself in the foreground.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Transform tablets or devices into dedicated point-of-sale (POS) 
                                                systems by preventing interruptions from other applications or notifications.
                                            </p> 
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Create focused, efficient and secure digital environments to match your requirements.
                                            </p>
                                        </li>

                                        <li>
                                            <span>&#10003;</span>
                                            <p>
                                                Configure ASAM effortlessly and elevate your user experience like never before.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="animation-div-img">
                                        <img src="assets/images/asam-kiosk-image.webp">
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div>

            </div>
        </div>
    </div>
</section>