<section class="section-e">
        <div class="logo">
                <div class="slider">
                    <img src="assets/images/img-infinite/costcoimg.svg">
                    <img src="assets/images/img-infinite/gorillas-img.svg">
                    <img src="assets/images/img-infinite/group1-automotive-img.webp">
                    <img src="assets/images/img-infinite/hilton-img.svg">
                    <img src="assets/images/img-infinite/lowes-img.svg">
                    <img src="assets/images/img-infinite/marriott-intl-img.svg">
                    <img src="assets/images/img-infinite/merck-img.svg">
                    <img src="assets/images/img-infinite/polaris-img.svg">
                    <img src="assets/images/img-infinite/saic-img.svg">
                    <img src="assets/images/img-infinite/wolt-img.svg">
                    <img src="assets/images/img-infinite/group1-automotive-img.webp">
                </div>
                <div class="slider">
                    <img src="assets/images/img-infinite/costcoimg.svg">
                    <img src="assets/images/img-infinite/gorillas-img.svg">
                    <img src="assets/images/img-infinite/group1-automotive-img.webp">
                    <img src="assets/images/img-infinite/hilton-img.svg">
                    <img src="assets/images/img-infinite/lowes-img.svg">
                    <img src="assets/images/img-infinite/marriott-intl-img.svg">
                    <img src="assets/images/img-infinite/merck-img.svg">
                    <img src="assets/images/img-infinite/polaris-img.svg">
                    <img src="assets/images/img-infinite/saic-img.svg">
                    <img src="assets/images/img-infinite/wolt-img.svg">
                    <img src="assets/images/img-infinite/group1-automotive-img.webp">
                </div>
        </div>
</section>